body {
    margin: auto;
    text-align: center;
    background-color: orchid;
}

main{
    margin: 50px;
}

.contactInfo {
    display: none;
}

.contactCard:hover .contactInfo {
    display: block;
}